- name: Create Teleport group
  become: true
  ansible.builtin.group:
    name: teleport
    state: present

- name: Create Teleport user
  become: true
  user:
    name: teleport
    system: true
    group: teleport
    shell: /sbin/nologin

- name: Create a directory on target server to store logs
  become: true
  file:
    path: /home/teleport/var/lib
    state: directory
    owner: teleport
    group: teleport
    mode: 0755

- name: Download and Unarchive Teleport
  become: true
  ansible.builtin.unarchive:
    src: https://cdn.teleport.dev/teleport-v14.2.0-linux-amd64-bin.tar.gz
    dest: /usr/local/bin
    remote_src: yes
    mode: 0755
    extra_opts: "--strip-components=1"

- name: Send teleport config file from Ansible host to target server
  become: true
  copy:
    src: /home/ansible/ansible/roles/teleport_servers/files/teleport-config.yaml
    dest: /etc/teleport.yaml

- name: Fetch hostname from the destination server
  become: true
  ansible.builtin.command:
    cmd: cat /etc/hostname
  delegate_to: "{{ inventory_hostname }}"

- name: Change nodename in Teleport config file
  become: true
  ansible.builtin.lineinfile:
    path: /etc/teleport.yaml
    regexp: '^(\s*)nodename:'
    line: "  nodename: '{{ hostname_contents.stdout | default('') }}'"

- name: Run Teleport join command
  become: true
  command: "/usr/local/bin/teleport configure --roles=node --token=750f4c0954b2ffe411e8196001b42b5c --proxy=teleport-cluster.bomdiagato.xyz:3080"

- name: Check if the systemd unit file exists
  become: true
  ansible.builtin.stat:
    path: /etc/systemd/system/teleport.service
  register: systemd_unit_file_stat

- name: Configure systemd unit file for Teleport
  become: true
  ansible.builtin.template:
    src: teleport.service.j2
    dest: /etc/systemd/system/teleport.service
  when: not systemd_unit_file_stat.stat.exists

- name: Reload systemd configuration and start Teleport service
  become: true
  ansible.builtin.systemd:
    daemon_reload: true
    name: teleport
    enabled: yes
    state: started
